/* animations for routing*/
.slide {
  &.ng-leave {
    position: relative;
  }

  &.ng-enter {
    position: absolute;
  }

  &.ng-enter, &.ng-leave {
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  }

  &.ng-enter, &.ng-leave.ng-leave-active {
    transform: scaleX(0.0001);
    opacity: 0;
  }

  &, &.ng-enter.ng-enter-active {
    transform: scaleX(1);
    opacity: 1;
  }
}