<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <div>user.name: {{user.name}}</div>
            <div>user.email: {{user.email}}</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div ui-view class="main slide col-lg-12">

        </div>
    </div>
</div>