.authentication-container {
  margin-top: 150px;
}

.auth-index {

  a {
    margin-right: 7px;

    & :last-child {
      margin-right: 0;
    }
  }
}


.error-validation {
  position: absolute;
  top: 60px;
  color: $errorColor;
}

.login-title,
.register-title{
  margin-bottom: 30px;
}

.login-form,
.register-form{

  & button:last-child {
    margin-top: 30px;
  }

  & .form-group {
    position: relative;
    margin-bottom: 25px;
  }

}
