.create-new-user-group {
  right: -500px;
  opacity: 0;
  bottom: 63px;
  z-index: 5;
  position: absolute;
  border: 1px solid #cecece;
  border-radius: 7px;
  padding: 5px;
  background: #fefefe;
  transition: right 0.4s ease-in,
              opacity 0.5s ease-in;

  & label {
    margin: 5px 0;
  }

  & > .btn-primary {
    width: 100%;
    margin-top: 3px;
    padding: 5px;
    font-size: 15px;
  }

  & input.form-control {
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  &.active {
    opacity: 1;
    right: 0;
  }
}