<div class="row page-amount-block">
    <div class="page-amount-selector col-lg-11 col-md-10 col-sm-10 col-xs-9">
        <label for="contactsAmount" class="page-amount-label">Choose amount for displaying on the page</label>
    </div>
    <div class="amount-selector col-lg-1 col-md-2 col-sm-2 col-xs-3">
        <select
                ng-model="itemsPage"
                name="contactsAmount"
                id="contactsAmount"
                class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <input type="text" class="form-control contacts-search" ng-model="search"
               placeholder="Search for...">
    </div>
</div>
<div class="contacts-container">
    <ul class="list-group">
        <li class="list-group-item contact-person-item"
            dir-paginate="person in people | filter : search | itemsPerPage:itemsPage"
            total-items="total_count"
            data-toggle="tooltip"
            title="{{person.name}} {{person.lastName}}">
            <span>{{person.name}}</span>
            <p>{{person.lastName}}</p>
            <p>{{person.age}}</p>
            <button ui-sref="home.detail({contactId:person._id})" class="btn btn-primary">details
            </button>
            <button class="btn btn-danger" ng-click="remove($index)">remove</button>
        </li>
    </ul>
    <dir-pagination-controls
            ng-if="!search.length"
            max-size="5"
            direction-links="true"
            boundary-links="true"
            on-page-change="getList(newPageNumber)">
    </dir-pagination-controls>
    <button class="btn btn-default btn-create" ng-click="open? open = false: open =  true">{{open? 'Cancel': 'Add new person'}}
    </button>
    <!--<button class="btn btn-default btn-create" ng-click="createNewPerson()">Add new person</button>-->
    <div class="input-group create-new-user-group" ng-class="{'active': open}" ng-init="newPerson = {}">
        <input id="name" type="text" ng-model="newPerson.name" class="form-control create" placeholder="Name">
        <br>
        <input id="lastName" type="text" ng-model="newPerson.lastName" class="form-control create"
               placeholder="Last name">
        <br>
        <input id="age" type="text" ng-model="newPerson.age" class="form-control create" placeholder="Age">
        <br>
        <button class="btn btn-primary" ng-click="save()">Create</button>
    </div>
</div>