<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="register-title"><span class="fa fa-user-plus" aria-hidden="true"></span> Register</h1>
        <form name="registerForm" class="register-form" novalidate>
            <div class="form-group">
                <label for="name">Full name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       ng-model="user.name"
                       placeholder="Enter your name"
                       required
                       ng-class="{'alert-success': registerForm.name.$valid}">
                <span class="error-validation"
                      ng-show="registerForm.name.$viewValue.length == 0 && registerForm.name.$invalid">name is required</span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email"
                       class="form-control"
                       name="email"
                       ng-model="user.email"
                       placeholder="Enter your email"
                       required
                       ng-class="{'alert-success': registerForm.email.$valid}">
                <span class="error-validation"
                      ng-show="registerForm.email.$viewValue.length == 0 && registerForm.email.$invalid">email is required</span>
                <span class="error-validation"
                      ng-show="registerForm.email.$viewValue.length > 0 && registerForm.email.$invalid">email is invalid</span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class="form-control"
                       name="password"
                       ng-model="user.password"
                       placeholder="Enter your password"
                       required
                       password-validation
                       ng-class="{'alert-success': registerForm.password.$valid}">
                <span class="error-validation"
                      ng-show="registerForm.password.$viewValue.length == 0 && registerForm.password.$invalid">password is required</span>
                <span class="error-validation"
                      ng-show="registerForm.password.$viewValue.length > 0  && registerForm.password.$touched && registerForm.password.$invalid">
                    password at least has to contain  one lowercase's char, one uppercase's and one number and length has to be 4-8 symbols
                </span>
            </div>
            <button type="submit"
                    class="btn btn-primary btn-lg"
                    ng-click="register()"
                    ng-class="{'disabled': registerForm.$invalid}">Register
            </button>
        </form>
        <hr>
        <p>Need an account?
            <a ui-sref="login">Login</a>
        </p>
        <p>Or jump to the
            <a ui-sref="index">Authentication page</a>
        </p>
    </div>
</div>