<div class="container authentication-container">
    <div class="jumbotron text-center auth-index">
        <h2><span class="fa fa-lock"></span> Authentication</h2>

        <p>Login or Register with:</p>

        <a ui-sref="login" class="btn btn-default">
            <span class="fa fa-sign-in" aria-hidden="true"></span>
            Login
        </a>
        <a ui-sref="register" class="btn btn-default">
            <span class="fa fa-user-plus" aria-hidden="true"></span>
            Register
        </a>
        <a ui-sref="home.invitation" class="btn btn-default">
            <span class="fa fa-home" aria-hidden="true"></span>
            Or just go to the main page
        </a>
    </div>
</div>