<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <h4>Translate to</h4>
        <select ng-model="lang"
                class="form-control"
                name="singleSelect"
                id="select">
            <option value="">Select language</option>
            <option value="uk">Ukrainian</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="it">Italian</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="cy">Welsh</option>
            <option value="pt">Portuguese</option>
            <option value="ru">Russian</option>
            <option value="ja">Japanese</option>
        </select><br>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6">
        <div class="form-group lang-translated-group">
            <div ng-if="langTranslated" class="well lang-translated-well well-input">{{langTranslated}}</div>
            <h4><label for="phrase">Translate:</label>
            </h4>
            <textarea
                ng-model="phrase"
                placeholder="Type text for translation. Your language will be auto detected"
                class="form-control"
                rows="5"
                maxlength="100"
                id="phrase">
            </textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6">
        <div class="translate-btn-group">
            <button ng-click="translate()"
                    class="btn btn-primary btn-translate btn-translate-translate">
                translate
            </button>
            <button ng-click="phrase = ''"
                    class="btn btn-danger btn-translate btn-translate-clear">
                clear
            </button>
        </div>
    </div>
</div>

<div class="row">
<div class="col-lg-4 col-md-5 col-sm-5 col-xs-6">
    <!-- prevent too long rows for translated -->
<div class="translation-output">
    <div ng-if="lang" class="well lang-translated-well well-output">{{lang}}</div>
    <textarea class="form-control"
              rows="5"
              maxlength="100">{{translation}}</textarea></div>
    </div>

<br>
</div>
<!--
<ul class="list-group">
  <p>Please check these translations for word: {{info.word}}</p>
  <li class="list-group-item" ng-repeat="translation in  info.translations">
    <p>Language: {{translation.lang}}</p>
    <p>Translation: {{translation.translation}}</p>
      <a ng-href="https://en.wikipedia.org/wiki/{{translation.lang}}_language">View info on <code>Wikipedia</code> about this language!</a>
  </li>
</ul>-->
