<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="login-title"><span class="fa fa-sign-in"></span> Login</h1>
        <!-- login form -->
        <form name="loginForm" class="login-form" novalidate>
            <div class="form-group">
                <label>Email</label>
                <input type="email"
                       class="form-control login-input"
                       name="email"
                       ng-model="user.email"
                       required
                       ng-class="{'alert-success': loginForm.email.$valid}">
                <span class="error-validation"
                      ng-show="loginForm.email.$viewValue.length == 0 && loginForm.email.$invalid">email is required</span>
                <span class="error-validation"
                      ng-show="loginForm.email.$viewValue.length > 0 && loginForm.email.$invalid">email is invalid</span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class="form-control login-input"
                       name="password"
                       ng-model="user.password"
                       required
                       password-validation
                       ng-class="{'alert-success': loginForm.password.$valid}">
                <span class="error-validation"
                      ng-show="loginForm.password.$viewValue.length > 0  && loginForm.password.$touched && loginForm.password.$invalid">
                    password at least has to contain  one lowercase's char, one uppercase's and one number and length has to be 4-8 symbols
                </span>
                <span class="error-validation"
                      ng-show="loginForm.password.$viewValue.length == 0 && loginForm.password.$invalid">
                    password is required
                </span>
            </div>
            <button class="btn btn-primary btn-lg"
                    ng-click="login()"
                    ng-class="{'disabled': loginForm.$invalid}">Login
            </button>
        </form>
        <hr>
        <p>Need an account? <a ui-sref="register">Register</a></p>
        <p>Or jump to the <a ui-sref="index">Authentication page</a></p>
    </div>
</div>