.translation-output {
  position: relative;
  margin-bottom: 150px;
  border-radius: 4px;
  font-size: 16px;
}


.translation-output textarea {

  border: 1px dashed #c5c5c5;
  height: auto;
  padding: 5px 10px 35px 10px;
  line-height: 1.2;
}

.lang-translated{

  &-well{
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: lightgrey;
    }
  }
  &-group{
    position: relative;

    textarea {
      padding: 5px 10px 35px 10px;
      line-height: 1.2;
    }

    .well-input{
      bottom: 1px;
      left: 1px;
    }

    .well-output{
    }
  }
}

.translate-btn-group {
  margin-bottom: 35px;

  .btn-translate{
    padding: 7px 20px;
    font-size: 1.2em;

    &-translate{
      margin-right: 15px;
    }

    &-clear{

    }
  }
}
