<form name="personForm" class="contacts-detail-group">
<span>Name:</span>
    <input type="text"
           name="name"
           ng-model="person.name"
           class="form-control"
           placeholder="{{person.name}}"
           ng-disabled="!editing">

    <span>Last name:</span>
    <input type="text"
           name="lastName"
           ng-model="person.lastName"
           class="form-control"
           placeholder="{{person.lastName}}"
           ng-disabled="!editing">

    <span>Age:</span>
    <input type="text"
           name="age"
           ng-model="person.age"
           class="form-control"
           placeholder="{{person.age}}"
           ng-disabled="!editing">

    <span>Street:</span>
    <input type="text"
           name="street"
           ng-model="person.address.street"
           class="form-control"
           placeholder="{{person.address.street}}"
           ng-disabled="!editing">

    <span>Number:</span>
    <input type="text"
           name="streetNumber"
           ng-model="person.address.number"
           class="form-control"
           placeholder="{{person.address.number}}"
           ng-disabled="!editing">
</form>
<div class="btn-group contacts-detail-actions" role="group" aria-label="...">
    <button class="btn btn-default" ng-click="editing = true">edit</button>
    <button class="btn btn-primary" ng-click="update()" >save</button>
    <button class="btn btn-danger" ng-click="remove()">remove</button>
</div>

