.contacts-container{
  position: relative;
  overflow: hidden;
}

.contacts-search{
  margin-bottom: 15px;
}

.page-amount-block{
  margin-bottom: 10px;
}

.page-amount-selector {
  float: left;
}

.page-amount-label {
  float: right;
  line-height: 2.1;
}

.amount-selector{
  float: left;
}

.contact-person-item {
  margin-bottom: 7px;
}

.contacts-detail{
  &-group{
    margin-bottom: 25px;

    span {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 15px;
    }
  }

  &-actions{
    margin-bottom:100px;
  }
}