.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 25px;
  z-index: -1;
  font-size: $basicFontSize;
  line-height: $basicLineHeight;
  font-family: 'AvenirNext-DemiBold', sans-serif;
  opacity: 0;
  background: rgba(53, 60, 80, 0.6);

  &.opened {
    z-index: 99999;
    opacity: 1;
    transition: opacity 0.25s linear;
  }

  &-content {
    position: relative;
    align-self: center;
    min-width: 380px;
    max-width: 600px;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 1px 1px rgba(53, 60, 80, 0.1);
    background: rgba(255, 255, 255, 1);
  }
}



.popup-close    {
  position: absolute;
  top:    13px;
  right:  13px;
  display: block;
  width:  12px;
  height: 12px;
  border:  0;
  outline: 0;
  padding: 0;
  margin:  0;
  background: transparent url('../assets/images/icons/icon-x.png') no-repeat 50% 50%;
  background-size: 20px 20px;
  color: rgba(27, 137, 248, 1);
  cursor: pointer; 
  &._small{
    width: auto;
    height: auto;
    right: 6px;
    top: 6px;
    background: none; 
    font-size: 0;
    line-height: 0;
    img{
      width: 7px;
      height: 7px;
    }
  }
} 


.popup-header  {
  padding-top:    25px;
  padding-right:  25px;
  padding-left:   25px;
  line-height: 1;
  font-family: 'AvenirNext-DemiBold', sans-serif;
}



.popup-main {
  padding-top:    25px;
  padding-right:  25px;
  padding-bottom: 25px;
  padding-left:   25px;
  color: rgba(53, 60, 80, 1);
  &._without-bottom{
    padding-bottom: 0;
  }

  .popup-form {
    font-size: $basicFontSize;
    .field {
      &::-webkit-input-placeholder {
        color: rgba(53, 60, 80, 0.5);
        opacity: 1;
      }
      &::-moz-placeholder {
        color: rgba(53, 60, 80, 0.5);
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: rgba(53, 60, 80, 0.5);
        opacity: 1;
      }
    }
  }
}

.popup-footer {
  padding-right:  25px;
  padding-bottom: 25px;
  padding-left:   25px;
  position: relative;
  z-index: 2;

  .btn-group {
    margin: 0 -5px;
    .btn {
      min-width: 80px;
      margin: 0 5px;
    }
  }
}