<button class="popup-close" ng-click="popupWindow.clear() && popupWindow.close()">
</button>
<div class="popup-header">
  {{popupWindow.params.title}}
</div>
<div class="popup-main">
  <p>
    {{popupWindow.params.content}}
  </p>
</div>
<div class="popup-footer clearfix">
  <div class="btn-group pull-right">
    <button class="btn btn-md btn-primary" ng-click="popupWindow.params.yes(); popupWindow.close()" autofocus>Ok</button>
    <button class="btn btn-md btn-secondary" ng-click="popupWindow.params.no(); popupWindow.close()">No</button>
  </div>
</div>
