<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="index">Contacts app</a>
                    </div>
                    <ul class="nav navbar-nav navbar-left">
                        <li role="presentation" ui-sref-active="active"
                            ng-class="{'active': $state.includes('home.invitation')}">
                            <a ui-sref="home.invitation">Home</a>
                        </li>
                        <li role="presentation" ng-class="{'active': $state.includes('home.contacts')}">
                            <a ui-sref="home.contacts">Contacts</a>
                        </li>
                        <li role="presentation" ng-class="{'active': $state.includes('home.translate')}">
                            <a ui-sref="home.translate">Translate</a>
                        </li>
                        <li role="presentation"
                            ng-show="isLoggedIn()"
                            ng-class="{'active': $state.includes('home.profile')}">
                            <a ui-sref="home.profile">Profile</a>
                        </li>
                    </ul>
                    <button
                            ng-show="isLoggedIn()"
                            ng-click="logout()"
                            ui-sref="index"
                            class="btn btn-default navbar-btn navbar-right btn-actions">
                        <span class="fa fa-sign-out" aria-hidden="true"></span>
                        Logout
                    </button>
                    <button
                            ng-show="!isLoggedIn()"
                            ui-sref="login"
                            class="btn btn-default navbar-btn navbar-right btn-actions">
                        Login
                    </button>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div ui-view class="main slide col-lg-12">
        </div>
    </div>
</div>